@font-face {
    font-family:'theseasons';
    src: url('Fontspring-DEMO-theseasons-reg.otf');
    src: local('Fontspring-DEMO-theseasons-reg'), local('Fontspring-DEMO-theseasons-reg'),
        url('Fontspring-DEMO-theseasons-reg.eot?#iefix') format('embedded-opentype'),
        url('Fontspring-DEMO-theseasons-reg.woff2') format('woff2'),
        url('Fontspring-DEMO-theseasons-reg.woff') format('woff'),
        url('Fontspring-DEMO-theseasons-reg.ttf') format('truetype');
    font-style: normal;
}
@font-face {
  font-family:'Aileron';
  src: url('Aileron-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family:'LibreBaskerville-Regular';
  src: url('LibreBaskerville-Regular.ttf');
  src: local('Aileron-Regular'), local('LibreBaskerville-Regular'),
      url('LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
      url('LibreBaskerville-Regular.woff2') format('woff2'),
      url('LibreBaskerville-Regular.woff') format('woff'),
      url('LibreBaskerville-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Absolute Beauty';
  src: url('Absolute-Beauty-Script-Regular.otf') format('opentype');
  font-style: normal;
}
main {
  /* background-image: url(CC-wedding-pattern-design-stripes.jpg);
  background-position:90% 100%;
  background-size: cover;
  background-repeat: no-repeat; */
  background: rgb(108,125,90);
background: radial-gradient(circle, rgba(108,125,90,1) 0%, rgba(185,194,177,1) 26%, rgba(255,255,255,1) 74%);
}
.navbar{
    height:70px;
    font-family: "Libre Baskerville", serif;
}
.navbar-brand img {
    width: 80px;
  }
  .navbar-nav {
    align-items: center;
    }
  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 100px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  } 
.s-5 {
    margin-left:350px;
  }
.img-fluid{
     max-width: 100%;                                                                                      
     height: auto;
}
@media only screen and (max-width: 480px) {
  img-fluid {
    width: 100%;
  }
}
/* ___________________________________ */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
:root {
  font-family: 'DM Sans', sans-serif;
  --width:35rem;
  --SoftRed: #6c7d5a;
  --DarkBrown: hsl(25, 47%, 15%);
  --MediumBrown: hsl(28, 10%, 53%);
  --Cream: hsl(0, 0%, 96%);
  --paleOrange: hsl(0, 0%, 97%);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin-top: 1rem;
}

.balanceHead {
  height: 6rem;
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--SoftRed);
  color: white;
  border-radius: 1rem;
}

.balanceHead > * {
  padding: 1rem;
}

.balanceHead p {
  font-size: 1.1rem;
  font-weight: 700;
  font-family:'theseasons';
}

.formContainer {
  height: 18rem;
  width: var(--width);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
  margin: 1rem 0rem;
  border: 1px solid #6c7d5a;
}
.formContainer h3{
  font-family:'LibreBaskerville-Regular';
}
.formContainer>* {
  padding: 1rem;
}

.expenseInput, .budgetInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, button, select {
  height: 2.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.budgetInput input {
  width: 75%;
}

button {
  width: 23%;
  color: white;
  background-color: var(--SoftRed);
  border-color: var(--SoftRed);
  cursor: pointer;
}

.expenseInput input, .expenseInput select {
  width: 24%;
}

.expenseList {
  height: auto;
  margin-bottom: 2rem;
}

#abc {
  font-size: 1.1rem;
  border-collapse: collapse;
  margin: 0rem 1rem;
}

#abc, #lk,#op {
  border-bottom: 0.1rem solid var(--MediumBrown);
}

#yz td {
  font-weight: 700;
}

#op {
  padding: 0.5rem;
  background-color: var(--paleOrange);
}

.removebtn {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--SoftRed);
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  cursor: pointer;
}

.error {
  color: var(--red) !important;
  border: 0.15rem solid rgb(255, 57, 57) !important; 
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
  :root {
      font-size: 8px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  :root {
      font-size: 10px;
  }
}

.overview, .balanceHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--width);
}


/* ------------------------------------------- */
footer{
    background-color: #6c7d5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  table{
    margin-left:0;
    margin-right:0;
    margin-bottom:1%;
  }
  .logo-container {
    background-color: #6c7d5a;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .logo img{
    height:100px;
  }
  .line {
    flex-grow: 1;
    height: 2px;
    background-color: #fff;
    margin: 0 20px;
  }
  @media (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }
  
    .line {
        margin: 0 10px;
    }
  }
  .next h6{
    font-family: "Libre Baskerville", serif;
    color:white;
    font-size:55%;
  }
  .next p{
    font-family: 'Absolute Beauty';
    color: #fff;
    font-size:60px;
    text-align: center;
  }
  .next h7{
    color: #fff;
    font-family: "Libre Baskerville", serif;
    font-size:70%;
  }
  #link {
    background-image: url('Ann-Travis-Botanical4-removebg-preview.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    list-style: none;
    text-decoration: none;
    color: #c7a4a4;
    font-family: "Libre Baskerville", serif;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #link li {
    margin: 10px 0;
  }
  
  #link li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  #one{
    margin-right:1px;
  }
  #lg{
    height:130px;
    width:130px;
  }
  #button{
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
    color: #fff;
    border: 1.5px solid #fff;
    padding:12px;
    font-size: small;
  }
  #button:hover{
    background-color: #fff;
    color: #6c7d5a;
  }